@import '../bootstrap/config.less';
@import '../bootstrap/component.less';
@import (reference) 'graph.less';

.p-text {
    color: @c-brown;
    line-height: @txt_line_xs;
    font-size: @txt_size_xs;    
    @media @media-rs-min {
        line-height: @txt_line_rs;
        font-size: @txt_size_rs;        
    }
    @media @media-sm-min {
        line-height: @txt_line_sm;
        font-size: @txt_size_sm;       
    }
    @media @media-md-min {
        line-height: @txt_line_md;
        font-size: @txt_size_md;       
    } 
    @media @media-lg {
        line-height: @txt_line_lg;
        font-size: @txt_size_lg;
    }
    a {
        color: @c-brown;
    }
    b {
        font-weight: 600;
    }
}
.s-text {
    color: @c-brown;
    line-height: @txt_line_xs;
    font-size: @txt_size_xs;    
    @media @media-rs-min {
        line-height: @txt_line_rs - 1;
        font-size: @txt_size_rs - 1;        
    }
    @media @media-sm-min {
        line-height: @txt_line_sm - 1;
        font-size: @txt_size_sm - 1;       
    }
    @media @media-md-min {
        line-height: @txt_line_md - 4;
        font-size: @txt_size_md - 4;       
    } 
    @media @media-lg {
        line-height: @txt_line_lg - 4;
        font-size: @txt_size_lg - 4;
    }
    a {
        color: @c-brown;
    }
}

.p-error {
    &:extend(.p-text);
    color: @c-pink;
}

.link {
    &-more {
        &:extend(.s-text);
        margin: 20px 0;
        color: @c-pink;
        text-decoration: none;
        position: relative;
        right: 18px;
        top: 0;
        text-align: right;
        display: block;
        clear: both;
        padding-right: 10px;
        b {
            font-weight: bold;
        }
        &:hover {
            text-decoration: underline; 
        }
        &:after {
            &:extend(.arrow-right);
            position: absolute;
            right: 0;
            top: 0;
            margin: 5px 0 0 5px;
            border-color: @c-pink;
        }
        
        &.link-pdf {
           background-color: @c-pink;
           color:@c-white;
           padding: 4px 8px;
           margin: 0;
           border-radius: 5px;
           font-size: 12px;
           float: right; 
           letter-spacing: 1px;
           text-transform: uppercase;
           &:after {
               display: none;
           }
        }
    }

    &-box {
        position: relative;
        padding: 20px;
    }    
    &-prev,
    &-next {
        &:extend(.s-text);
        color: @c-pink;
        text-decoration: none;
        display: block;
        font-weight: bold;
        position: absolute;
        &:hover {
            text-decoration: underline; 
        }
    }

    &-prev {
        left:15px;
        top: 0;
        &:before {
            &:extend(.arrow-left);
            top:5px;
            left: -15px;
            position: absolute;
            border-color: @c-pink;

        }
    }

    &-next {
        right: 15px;
        top: 0;
        &:after {
            &:extend(.arrow-right);
            right: -15px;
            top: 5px;
            position: absolute; 
            border-color: @c-pink;
        }
    }
}

.box-pdf {
    clear: both;
}